footer.footer
    .container.footer__container
        .footer__row
            .logo.footer__logo
                a.logo__link(href="#" aria-label="logo")
                    img.logo__img(src="img/logo.svg" width="85" height="85" alt="logo")
            
            nav.footer-menu
                ul.footer-menu__list
                    li.footer-menu__item
                        a.footer-menu__link.is-active(href="#") Про нас
                    
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Обладнання
                    
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Переваги
                    
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Проєкти
                    
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Контакти
                    
                    li.footer-menu__item
                        a.footer-menu__link(href="#") FAQ
                    
                    li.footer-menu__item
                        ul.links-list
                            li.links-list__item
                                a.links-list__link.links-list__link--instagram(href="#") 
                                    svg.links-list__icon(width="20" height="20")
                                        use(xlink:href="img/sprite.svg#instagram")

                            li.links-list__item
                                a.links-list__link.links-list__link--facebook(href="#") 
                                    svg.links-list__icon(width="12" height="23")
                                        use(xlink:href="img/sprite.svg#facebook")
                            
                            li.links-list__item
                                a.links-list__link.links-list__link--youtube(href="#") 
                                    svg.links-list__icon(width="27" height="17")
                                        use(xlink:href="img/sprite.svg#youtube")

        .footer__row.footer__row--ai-top
            address.contacts.footer__contacts
                h3.contacts__title Номер телефону:

                ul.contacts__list
                    li.contacts__item
                        a.contacts__link(href="tel:+380986540399") +380986540399
                    
                    li.contacts__item
                        a.contacts__link(href="tel:+380675494929") +380675494929

            address.contacts.footer__contacts
                h3.contacts__title Email:

                ul.contacts__list
                    li.contacts__item
                        a.contacts__link(href="mailto:we@lorem.com") we@lorem.com

            address.contacts.footer__contacts
                h3.contacts__title Адреса:

                ul.contacts__list
                    li.contacts__item
                        a.contacts__link(href="#" data-modal="modal-map") м. Київ, вул. Грушевського 1

        .footer__row
            a.footer__link(href="#") Політика конфіденційності

            .footer__copyright &copy; 2024

            ul.certification-list.footer__certification-list
                li.certification-list__item
                    picture.certification-list__picture
                        img.certification-list__img(src="img/iso.webp" srcset="img/iso@2x.webp 2x" loading="lazy" width="91" height="85" alt="alt")

                li.certification-list__item
                    picture.certification-list__picture
                        img.certification-list__img(src="img/iaf.webp" srcset="img/iaf@2x.webp 2x" loading="lazy" width="135" height="84" alt="alt")

            a.footer__link(href="#") Умови використання 
