.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Обладнання
                            svg.mobile-nav-menu__icon(width="15" height="16")
                                use(xlink:href="img/sprite.svg#link-arrow-sm")
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Переваги
                            svg.mobile-nav-menu__icon(width="15" height="16")
                                use(xlink:href="img/sprite.svg#link-arrow-sm")
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Проєкти
                            svg.mobile-nav-menu__icon(width="15" height="16")
                                use(xlink:href="img/sprite.svg#link-arrow-sm")
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти
                            svg.mobile-nav-menu__icon(width="15" height="16")
                                use(xlink:href="img/sprite.svg#link-arrow-sm")

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") FAQ
                            svg.mobile-nav-menu__icon(width="15" height="16")
                                use(xlink:href="img/sprite.svg#link-arrow-sm")
