.modal-wrap
    #modal-map.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="20" height="20")
                        use(xlink:href="img/sprite.svg#close")

                .modal__content
                    <iframe class="modal__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.444067919577!2d30.526621076756474!3d50.45145497159236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51fc128a4d%3A0xf2d83fcd996029c2!2sMykhaila%20Hrushevskoho%20St%2C%201%2C%20Kyiv%2C%20Ukraine%2C%2002000!5e0!3m2!1sen!2ses!4v1722603740125!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
