section.about-section
    .container.about-section__container
        .about-section__inner.animation-down(data-delay=".2")
            h2 Про проект:
            p У цьому Кубіку куб і кубоїд злиті воєдино. Піднявшись вгору по воронці, ви потрапите на верхній куб і зможете милуватися краєвидами навіть на балансуючій кулі! Спуск по довгій трубці відбувається весело, але безпечно. Виріб також доступний зі сталевою трубкою. Ламіновані панелі високого тиску на кубоїді можна замінити на інший колір. Детальніше про можливості модифікації дивіться на вкладці Switch It для отримання додаткової інформації.
        
        .about-section__row
            .about-section__col.animation-down(data-delay=".2")
                h3.about-section__subtitle Проблеми з якими мі зіткнулися

                ul.target-list
                    li.target-list__item
                        svg.target-list__icon(width="39" height="39")
                            use(xlink:href="img/sprite.svg#target")
                        
                        p.target-list__text На ділянці майданчику був торф та високі грунтові води.
                    
                    li.target-list__item
                        svg.target-list__icon(width="39" height="39")
                            use(xlink:href="img/sprite.svg#target")
                        
                        p.target-list__text Майданчик встановлювали на даху будинку.
                    
                    li.target-list__item
                        svg.target-list__icon(width="39" height="39")
                            use(xlink:href="img/sprite.svg#target")
                        
                        p.target-list__text При вирівнюванні ділянки спортивного поля зіткнулись з проблемою заритого каміння та коренів дерев.

            .about-section__col.animation-down(data-delay=".2")
                h3.about-section__subtitle Рішення

                ul.decision-list
                    li.decision-list__item
                        p.decision-list__text Підняли рівень майданчика, зробивши подушку в 50 см із піску і щебеню
                    
                    li.decision-list__item
                        p.decision-list__text Проектувальники додатково розрахували парусність вітру, максимальне навантаження ваги майданчиків на дах та збільшили зони безпеки, враховуючи висоту будівлі.
                    
                    li.decision-list__item
                        p.decision-list__text Залучили додаткову техніку для розчистки території, потім зробили підсипку із піску та щебеню. Верхнім шаром уложили штучну траву для мультиспортивного поля.
