section.achieve-section
    .container.achieve-section__container
        header.achieve-section__header
            .title-wrap.achieve-section__title-wrap
                h2.section-title.animation-title
                    span Про нас і наші досягнення
        
        ul.achieve-section__list
            li.achieve-section__item.animation-down(data-delay=".2")
                article.achieve-card
                    p.achieve-card__text Клієнти довіряють нам безпеку та радість своїх дітей завдяки нашому обладнанню з екологічних матеріалів та 30-річним строком служби. Використання HDPL-панелей, сталі, канатів та брусу робить нас надійним партнером для будівельних компаній та держустанов.

                    picture.achieve-card__picture.achieve-card__picture--sm
                        img.achieve-card__img(src="img/achieve/achieve-1.webp" srcset="img/achieve/achieve-1@2x.webp 2x" loading="lazy" width="322" height="265" alt="alt")
                    
                    img.achieve-card__stars.animation-zoom(data-delay=".5" src="img/achieve-stars.svg" aria-hidden="true" loading="lazy" width="109" height="166" alt="alt")

            li.achieve-section__item.animation-down(data-delay=".2")
                article.achieve-card
                    p.achieve-card__text Ми підтримуємо ініціативу "Доступна Україна для всіх" і забезпечуємо доступність нашого обладнання для всіх, збільшуючи асортимент інклюзивних товарів для гри та спорту, що дозволяє людям з різними можливостями обʼєднуватися і насолоджуватися активностями разом.

                    picture.achieve-card__picture
                        img.achieve-card__img(src="img/achieve/achieve-2.webp" srcset="img/achieve/achieve-2@2x.webp 2x" loading="lazy" width="651" height="263" alt="alt")
