section.advantages-section
    .container.advantages-section__container
        header.advantages-section__header
            .title-wrap.advantages-section__title-wrap
                h2.section-title.animation-title
                    span Чим ми краще?

        ul.advantages-section__list
            li.advantages-section__item.advantages-section__item--sm.animation-down(data-delay=".4")
                article.advantage-card
                    .advantage-card__back
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

                    .advantage-card__front
                        .advantage-card__top
                            .advantage-card__number 01

                            svg.advantage-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                        
                        h3.advantage-card__title Якісні матеріали

            li.advantages-section__item.advantages-section__item--sm.animation-down(data-delay=".4")
                article.advantage-card
                    .advantage-card__back
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        
                    .advantage-card__front
                        .advantage-card__top
                            .advantage-card__number 02

                            svg.advantage-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                        
                        h3.advantage-card__title Безкоштовний дизайн-проект
            
            li.advantages-section__item.advantages-section__item--sm.animation-down(data-delay=".4")
                article.advantage-card
                    .advantage-card__back
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        
                    .advantage-card__front
                        .advantage-card__top
                            .advantage-card__number 03

                            svg.advantage-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                        
                        h3.advantage-card__title Гарантії
            
            li.advantages-section__item.animation-down(data-delay=".4")
                article.advantage-card
                    .advantage-card__back
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        
                    .advantage-card__front
                        .advantage-card__top
                            .advantage-card__number 04

                            svg.advantage-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                        
                        h3.advantage-card__title Індивідуальна розробка та брендування
            
            li.advantages-section__item.animation-down(data-delay=".4")
                article.advantage-card
                    .advantage-card__back
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        
                    .advantage-card__front
                        .advantage-card__top
                            .advantage-card__number 05

                            svg.advantage-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                        
                        h3.advantage-card__title Доставка та монтаж
