section.banner-section
    a.project-item.project-item--bordered.project-item--1.animation-zoom(href="#" data-delay="1.6")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-1.webp" srcset="img/projects/project-1@2x.webp 2x" loading="lazy" width="73" height="73" alt="alt")
    
    a.project-item.project-item--2.animation-zoom(href="#" data-delay="1.3")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-2.webp" srcset="img/projects/project-2@2x.webp 2x" loading="lazy" width="70" height="70" alt="alt")

    a.project-item.project-item--bordered.project-item--3.animation-zoom(href="#" data-delay="1.5")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-3.webp" srcset="img/projects/project-3@2x.webp 2x" loading="lazy" width="103" height="103" alt="alt")
    
    a.project-item.project-item--bordered.project-item--4.animation-zoom(href="#" data-delay="1.2")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-4.webp" srcset="img/projects/project-4@2x.webp 2x" loading="lazy" width="69" height="69" alt="alt")
    
    a.project-item.project-item--5.animation-zoom(href="#" data-delay="1.1")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-5.webp" srcset="img/projects/project-5@2x.webp 2x" loading="lazy" width="70" height="70" alt="alt")
    
    a.project-item.project-item--6.animation-zoom(href="#" data-delay="1.7")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-6.webp" srcset="img/projects/project-6@2x.webp 2x" loading="lazy" width="103" height="103" alt="alt")

    a.project-item.project-item--7.animation-zoom(href="#" data-delay="1.4")
        picture.project-item__picture
            img.project-item__picture-img(src="img/projects/project-6.webp" srcset="img/projects/project-6@2x.webp 2x" loading="lazy" width="103" height="103" alt="alt")

    .container.banner-section__container
        header.banner-section__header
            .title-wrap.banner-section__title-wrap
                h1.section-title.animation-title
                    span Будуємо для нащадків

            p.banner-section__descr.animation-fade(data-delay=".6") Дитячі та спортивні майданчики, парки та мультифункціональні поля
