section.categories-section
    .container.categories-section__container
        header.categories-section__header
            .title-wrap.categories-section__title-wrap
                h2.section-title.animation-title
                    span З чого почнемо?

            p.categories-section__descr.animation-fade(data-delay=".6") Оберіть категорію обладнання

        ul.categories-section__list
            li.categories-section__item.categories-section__item--big.animation-fade(data-delay=".2")
                a.category-card.category-card--1(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-1.webp" srcset="img/categories/category-1@2x.webp 2x" loading="lazy" width="664" height="678" alt="alt")

                    h3.category-card__title Дитяче обладнання
            
            li.categories-section__item.animation-fade(data-delay=".2")
                a.category-card.category-card--2(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-2.webp" srcset="img/categories/category-2@2x.webp 2x" loading="lazy" width="319" height="322" alt="alt")

                    h3.category-card__title Паркове обладнання
            
            li.categories-section__item.animation-fade(data-delay=".2")
                a.category-card.category-card--3(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-3.webp" srcset="img/categories/category-3@2x.webp 2x" loading="lazy" width="319" height="322" alt="alt")

                    h3.category-card__title Мультифункціональні поля
            
            li.categories-section__item.categories-section__item--bottom-lg.animation-fade(data-delay=".2")
                .categories-section__buttons
                    a.button.button--circle.categories-section__button(href="#") Переглянути продукцію
                    a.button.button--circle.button--green-dark.categories-section__button(href="#") Завантажити каталог
            
            li.categories-section__item.categories-section__item--big.animation-fade(data-delay=".2")
                a.category-card.category-card--5(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-5.webp" srcset="img/categories/category-5@2x.webp 2x" loading="lazy" width="664" height="678" alt="alt")

                    h3.category-card__title Канатні комплекси

            li.categories-section__item.animation-fade(data-delay=".2")
                a.category-card.category-card--4(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-4.webp" srcset="img/categories/category-4@2x.webp 2x" loading="lazy" width="319" height="322" alt="alt")

                    h3.category-card__title Інклюзивне обладнання
            
            li.categories-section__item.categories-section__item--visible-lg.animation-fade(data-delay=".2")
                a.category-card.category-card--6(href="#")
                    picture.category-card__picture
                        img.category-card__img(src="img/categories/category-6.webp" srcset="img/categories/category-6@2x.webp 2x" loading="lazy" width="318" height="320" alt="alt")

                    h3.category-card__title Батути
