section.equipment-section
    .equipment-section__inner
        picture.equipment-section__bg
            img.equipment-section__bg-img(src="img/equipment-bg.webp" srcset="img/equipment-bg@2x.webp 2x" loading="lazy" width="1440" height="793" alt="alt")

        h2.equipment-section__title.animation-up(data-delay="1")
            a.button.button--circle.equipment-section__button(href="#") Наше обладнання

        .equipment-section__items
            .equipment-item.equipment-item--1.animation-zoom(data-delay=".5")
                .equipment-item__pic
                    svg.equipment-item__icon(width="31" height="28")
                        use(xlink:href="img/sprite.svg#equipment")
                
                p.equipment-item__descr Канати, композитні камені, полікарбонатні поверхні
            
            .equipment-item.equipment-item--2.animation-zoom(data-delay=".5")
                .equipment-item__pic
                    svg.equipment-item__icon(width="31" height="28")
                        use(xlink:href="img/sprite.svg#equipment")
                
                p.equipment-item__descr Пластикові тунелі та труби, стальні гірки
            
            .equipment-item.equipment-item--3.animation-zoom(data-delay=".5")
                .equipment-item__pic
                    svg.equipment-item__icon(width="31" height="28")
                        use(xlink:href="img/sprite.svg#equipment")
                
                p.equipment-item__descr Брус, метал, HDPL-панелі
            
            .equipment-item.equipment-item--4.animation-zoom(data-delay=".5")
                .equipment-item__pic
                    svg.equipment-item__icon(width="31" height="28")
                        use(xlink:href="img/sprite.svg#equipment")
                
                p.equipment-item__descr штучна трава, гумові плити, EPDM каучук
