section.faq-section
    .container.faq-section__container
        header.faq-section__header
            .title-wrap.faq-section__title-wrap
                h2.animation-title.animation-title--lg
                    span FAQ

        ul.faq-section__list
            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Який термін виготовлення обладнання?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Який термін виготовлення обладнання?
                            
                            .faq-card__text
                                p Гарантійне обслуговування протягом 365 днів
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Де можна переглянути повний асортимент обладнання?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Де можна переглянути повний асортимент обладнання?
                            
                            .faq-card__text
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
        
            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Чи є у Вас послуга монтаж на обʼєкті?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Чи є у Вас послуга монтаж на обʼєкті?
                            
                            .faq-card__text
                                p Гарантійне обслуговування протягом 365 днів
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Яка гарантія на ваші товари?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Яка гарантія на ваші товари?
                            
                            .faq-card__text
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Чи допомагаєте Ви з проектуванням майданчика?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Чи допомагаєте Ви з проектуванням майданчика?
                            
                            .faq-card__text
                                p Гарантійне обслуговування протягом 365 днів
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

            li.faq-section__item.animation-down(data-delay=".4")
                article.faq-card
                    .faq-card__inner
                        .faq-card__front
                            h3.faq-card__title Чи допомагаєте Ви з проектуванням майданчика?
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")

                        .faq-card__back
                            h3.faq-card__title Чи допомагаєте Ви з проектуванням майданчика?
                            
                            .faq-card__text
                                p Гарантійне обслуговування протягом 365 днів
                            
                            svg.faq-card__arrow(width="30" height="30")
                                use(xlink:href="img/sprite.svg#link-arrow")
                                