section.gallery-section
    .container.gallery-section__container
        ul.gallery-section__list
            li.gallery-section__item.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-1@2x.webp" data-pswp-width="640" data-pswp-height="818")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-1.webp" srcset="img/gallery/gallery-1@2x.webp 2x" loading="lazy" width="320" height="409" alt="alt")

            li.gallery-section__item.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-2@2x.webp" data-pswp-width="640" data-pswp-height="818")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-2.webp" srcset="img/gallery/gallery-2@2x.webp 2x" loading="lazy" width="320" height="409" alt="alt")
            
            li.gallery-section__item.gallery-section__item--lg.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-3@2x.webp" data-pswp-width="1320" data-pswp-height="580")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-3.webp" srcset="img/gallery/gallery-3@2x.webp 2x" loading="lazy" width="660" height="290" alt="alt")

        ul.gallery-section__list
            li.gallery-section__item.gallery-section__item--lg.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-4@2x.webp" data-pswp-width="1320" data-pswp-height="580")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-4.webp" srcset="img/gallery/gallery-4@2x.webp 2x" loading="lazy" width="660" height="290" alt="alt")
            
            li.gallery-section__item.gallery-section__item--lg.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-5@2x.webp" data-pswp-width="1320" data-pswp-height="580")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-5.webp" srcset="img/gallery/gallery-5@2x.webp 2x" loading="lazy" width="660" height="290" alt="alt")

            li.gallery-section__item.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-6@2x.webp" data-pswp-width="640" data-pswp-height="818")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-6.webp" srcset="img/gallery/gallery-6@2x.webp 2x" loading="lazy" width="320" height="409" alt="alt")

            li.gallery-section__item.animation-fade(data-delay=".4")
                a.gallery-card(href="img/gallery/gallery-7@2x.webp" data-pswp-width="640" data-pswp-height="818")
                    picture.gallery-card__picture
                        img.gallery-card__img(src="img/gallery/gallery-7.webp" srcset="img/gallery/gallery-7@2x.webp 2x" loading="lazy" width="320" height="409" alt="alt")
            
            

        