section.object-section
    .container.object-section__container
        .object-section__col
            header.object-section__header
                .title-wrap.object-section__title-wrap
                    h2.section-title.animation-title
                        span ЖК «Скандія»

                p.object-section__text.animation-fade(data-delay=".6") Будиночок виготовлений з дерева, що відповідає всім стандартам якості та безпеки. Кожна деталь дбайливо оброблена, а фарби, які використовуються для декору, є невідмінними для здоров'я дітей та навколишнього середовища.
        
        .object-section__col
            .object-card.animation-fade
                picture.object-card__picture
                    img.object-card__img(src="img/object-img.webp" srcset="img/object-img@2x.webp 2x" loading="lazy" width="710" height="717" alt="alt")

                .object-card__text
                    p Має м'які кути та надійну конструкцію, що забезпечує безпечну гру для малюків. Не занадто великий, але достатньо просторий для дитячої уяви, цей будиночок ідеально підходить для маленьких сімейних двориків або дитячих майданчиків.
