section.order-section
    .container.order-section__container
        .order-section__col.animation-left(data-delay=".2")
            .order-section__content
                h2.order-section__title Ми готові втілити 
                    br
                    svg.order-section__title-icon(width="52" height="54")
                        use(xlink:href="img/sprite.svg#star")
                    | ваші ідеї в реальність

                p.order-section__text
                    span Залиште заявку і ми зробимо дизайн-проект Вашого майданчику безкоштовно!

        .order-section__col.animation-right(data-delay=".2")
            form.form.order-section__form(id="order-form" autocomplete="off" novalidate="novalidate")
                .form__row
                    .form__col.form__col--6
                        .form__group
                            input#inputName.input.form__input(type="text" name="inputFirstName" placeholder="" autocomplete="off" data-error-message="Введіть імʼя" required)
                            label.form__placeholder Ім'я *
                    
                    .form__col.form__col--6
                        .form__group
                            input#inputLastName.input.form__input(type="text" name="inputLastName" placeholder="" autocomplete="off" data-error-message="Введіть прізвище" required)
                            label.form__placeholder Прізвище *
                
                .form__group
                    input#inputPhone.input.form__input.phone-mask(type="text" name="inputPhone" placeholder="" autocomplete="off" data-error-message="Введіть телефон" required)
                    label.form__placeholder Номер телефону *

                .form__group
                    input#inputEmail.input.form__input(type="text" name="inputEmail" placeholder="" autocomplete="off")
                    label.form__placeholder E-mail

                .form__button-group
                    button.button.form__button Залишити заявку
        
            nav.social.order-section__social
                ul.social__list
                    li.social__item
                        a.social__link(href="#") Viber
                    
                    li.social__item
                        a.social__link(href="#") Telegram
                    
                    li.social__item
                        a.social__link(href="#") WhatsApp
