section.partners-section
    .container.partners-section__container
        header.partners-section__header
            .title-wrap.partners-section__title-wrap
                h2.section-title.animation-title
                    span Наші клієнти та партнери
        
        .swiper.partners-slider.animation-down(data-delay=".2")
            .swiper-wrapper
                .swiper-slide.partners-slider__slide
                    article.partner-card
                        .partner-card__col
                            .partner-card__text
                                p Ми оновили та реконструювали вуличні спортивні та ігрові зони в освітніх закладах Дарницького та Голосіївського районів Києва, радуючи дітей в школах та садочках.

                        .partner-card__col
                            picture.partner-card__picture
                                img.partner-card__img(src="img/partners/partners-1.webp" srcset="img/partners/partners-1@2x.webp 2x" loading="lazy" width="547" height="371" alt="alt")

                        .partner-card__col
                            picture.partner-card__picture
                                img.partner-card__img(src="img/partners/partners-2.webp" srcset="img/partners/partners-2@2x.webp 2x" loading="lazy" width="319" height="183" alt="alt")
                            
                            p.partner-card__descr Є офіс продажу в Польщі

                .swiper-slide.partners-slider__slide
                    article.partner-card
                        .partner-card__col
                            .partner-card__text
                                p Ми оновили та реконструювали вуличні спортивні та ігрові зони в освітніх закладах Дарницького та Голосіївського районів Києва, радуючи дітей в школах та садочках.

                        .partner-card__col
                            picture.partner-card__picture
                                img.partner-card__img(src="img/partners/partners-1.webp" srcset="img/partners/partners-1@2x.webp 2x" loading="lazy" width="547" height="371" alt="alt")

                        .partner-card__col
                            picture.partner-card__picture
                                img.partner-card__img(src="img/partners/partners-2.webp" srcset="img/partners/partners-2@2x.webp 2x" loading="lazy" width="319" height="183" alt="alt")
                            
                            p.partner-card__descr Є офіс продажу в Польщі

            .partners-slider__nav
                button.button.partners-slider__prev(type="button" aria-label="previous slide")
                    svg.button__icon(width="16" height="16")
                        use(xlink:href="img/sprite.svg#arrow-prev")

                button.button.partners-slider__next(type="button" aria-label="next slide")
                    svg.button__icon(width="16" height="16")
                        use(xlink:href="img/sprite.svg#arrow-next")
