section.steps-section
    .container.steps-section__container
        header.steps-section__header
            .title-wrap.steps-section__title-wrap
                h2.section-title.animation-title
                    span Як замовити

        ul.steps-section__list
            li.steps-section__item.animation-left(data-delay=".2")
                article.step-card
                    .step-card__pic
                        svg.step-card__icon(width="65" height="52")
                            use(xlink:href="img/sprite.svg#step")
                        
                    h3.step-card__title Початок
                    p.step-card__descr Замовте дизайн-проект Вашого майданчику, підпишіть договір та оплатіть аванс

            li.steps-section__item.animation-left(data-delay=".4")
                article.step-card
                    .step-card__pic
                        svg.step-card__icon(width="65" height="52")
                            use(xlink:href="img/sprite.svg#step")
                        
                    h3.step-card__title Очікування
                    p.step-card__descr Очікуйте на виготовлення обладнання протягом 3-4 тижнів, його доставку та монтаж
            
            li.steps-section__item.animation-left(data-delay=".6")
                article.step-card
                    .step-card__pic
                        svg.step-card__icon(width="65" height="52")
                            use(xlink:href="img/sprite.svg#step")
                        
                    h3.step-card__title Оплата
                    p.step-card__descr Оплатіть залишок та насолоджуйтесь новим майданчиком
